.pagination-handler {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.current-page {
    background-color: #3d3d3d;
    color: #ffffff;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
}
.current-page:hover {
    color: #ffffff;
}

.next-btn,
.previous-btn {
    border: 1px solid #3d3d3d;
    margin: 5px;
}
